:root {
    font-family: "MappleMono";
    src: url("/MappleMono.woff2");
}

* {
    font-family: "MappleMono";
    outline: none;
    padding: 0px;
    margin: 0px;
}

.header {
    h1 {
        text-align: center;
    }
}

body {
    max-height: 100vh;
}

.mainPage {
    .grafos {
        display: flex;
        justify-content: center;
        gap: 2rem;

        .container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            border-radius: 1rem;
            border: 2px solid black;
            width: 600px;
            height: 400px;

            .graph {
                width: 100%;
                height: 100%;
            }

            h1 {
                text-align: center;
            }
        }
    }
}
