:root {
    font-family: "MappleMono";
    src: url("/MappleMono.woff2");
}

* {
    font-family: "MappleMono";
    outline: none;
}

.header {
    h1 {
        text-align: center;
    }
}

.mainPage {
    canvas {
        height: 800px;
        width: 800px;
    }
}
