:root {
    font-family: "MappleMono";
    src: url("/MappleMono.woff2");
    --inch-worm-1: #d9ff75;
    --inch-worm-2: #c8f600;
    --inch-worm-3: #b8e200;
    --inch-worm-4: #afd700;
    --inch-worm-5: #a3c900;
    --inch-worm-6: #96b900;
    --inch-worm-7: #88a800;
    --inch-worm-8: #799500;
    --inch-worm-9: #698300;
    --inch-worm-10: #5a7000;
    --inch-worm-11: #526600;
    --inch-worm-12: #4a5d00;
    --inch-worm-13: #425300;
    --inch-worm-14: #3b4a00;
}

* {
    font-family: "MappleMono";
    outline: none;
    padding: 0px;
    margin: 0px;
}

.header {
    background-color: var(--inch-worm-9);
    padding: 1rem;

    h1 {
        color: white;
        text-align: center;
        font-weight: bold;
        font-size: 42px;
    }
}

body {
    max-height: 100vh;
    background-color: var(--inch-worm-1);
}

.mainPage {
    .grafos {
        display: flex;
        justify-content: center;
        gap: 2rem;

        .container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            border-radius: 1rem;
            border: 2px solid black;
            width: 400px;
            height: 400px;

            .graph {
                width: 100%;
                height: 100%;
            }

            h1 {
                text-align: center;
            }
        }
    }
}
